
main {
  padding-top: 2rem;
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.package {
  width: 80%;
  margin: 1rem 0;
  border: #0e4f1f 4px solid;
  border-left: none;
  position: relative;
  overflow: hidden;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  border-color: #ff5454;
  animation: pushUp 1s ease-out forwards;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 0.8rem;
  color: white;
  background: #ff5454;
  padding: 8px;
  /* transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem); */
  transform: rotate(45deg) translate(3.5rem, -1rem);
  transform-origin: center;
  width: 12rem;
  text-align: center;
}

.package-title {
  color: black;
}

.package-subtitle {
  color: #979797;
}

.package-description {
  background: white;
  border: 1px #0e4f1f solid;
  padding: 1rem;
  font-size: 1.25rem;
  color: #0e4f1f;
}

.clearfix {
  clear: both;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);
  text-align: right;
  float: right;
  border-right: none;
  border-left: #0e4f1f 4px solid;
}
#free:hover,
#free:active {
  /* box-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
  border-left-color: #ff5454;
}


#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package-title {
  color: white;
}

#premium .package-subtitle {
  color: #bbb;
}

@media (min-width: 40rem) {
  main {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1050px) {
  .package {
    border-left: 4px solid #0e4f1f;
  }
  #free {
    border-right: 4px solid #0e4f1f;
  }
  #free:hover,
  #free:active {
    border-right-color: #ff5454;
  }
}

@keyframes pushUp {
  0% {
    transform: translateY(0)
  }
  33% {
    transform: translateY(-1.5rem)
  }
  100% {
    transform: translateY(-1rem)
  }
}